<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./static/img/logo.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Solway:wght@300;400;500;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/58904d4a11.js"crossorigin="anonymous"></script>
    <title>Polvo de hadas</title>
</head>

<body>
    <main>
        <header class="encabezado">
            <nav class="nav-principal">
                <!-- Logo -->
                <div id="div-padre-logo">
                    <div class="logo" id="div-logo">
                        <a href="./index.html">
                            <img src="../static/img/logo.png" alt="logo polvo de hadas juegos de mesa" id="img-logo">
                        </a>
                    </div>
                </header>
                <h2 id="help">Ayuda</h2>
                <section>
                    <p>Esta es la ayuda</p>
                </section>
                    <section>
                    
                        
                        <p>Para volver al inicio hacer click en el logo</p>
                    </section>
   
</body>
</html>