<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./static/img/logo.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Solway:wght@300;400;500;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/58904d4a11.js"crossorigin="anonymous"></script>
    <title>Polvo de hadas</title>
</head>

<body>
    <header class="encabezado">
        <nav class="nav-principal">
            <!-- Logo -->
            <div id="div-padre-logo">
                <div class="logo" id="div-logo">
                    <a href="../index.html">
                        <img src="../static/img/logo.png" alt="logo polvo de hadas juegos de mesa" id="img-logo">
                    </a>
                </div>
                <!-- Hipervinculos para el menú -->
                <div class="div-nav-padre">
                    <ul class="nav-links">
                        <li class="nav-li li1"><a href="../templates/masVendidos.html" class="nav-a a1">Lo mas
                                vendido</a></li>
                        <li class="nav-li li2"><a href="../templates/Register.html" class="nav-a a2">Registrate</a></li>
                        <li class="nav-li li3"><a href="../templates/Login.html" class="nav-a a3">Iniciar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <h1>Polvo de hadas juegos de mesa</h1>
    <h2>Educativos</h2>
    <div class="juegos-container">
        <!-- Primer juego-->
        <div class="juego">
            <img src="../static/img/aprendamos-juntos-a-leer.jpg" alt="aprendamos-juntos-a-leer" class="juegos-img">
            <div class="informacion">
                <p class="juego-item-detail-name">Aprendamos juntos a leer</p>
                <p class="juego-item-detail-precio">$15.500</p>
            </div>
        </div>
        <!-- Segundo juego -->
        <div class="juego">
            <img src="../static/img/el-señor-dix.jpg" alt="el-señor-dix" class="juegos-img">
            <div class="informacion">
                <p class="juego-item-detail-name">El señor Dix</p>
                <p class="juego-item-detail-precio">$10.800</p>
            </div>
        </div>
        <!-- Tercer juego -->
        <div class="juego">
            <img src="../static/img/laboratorio-de-palabras.jpg" alt="laboratorio-de-palabras" class="juegos-img">
            <div class="informacion">
                <p class="juego-item-detail-name">Laboratorio de palabras</p>
                <p class="juego-item-detail-precio">$23.700</p>
            </div>
        </div>
        <!-- Cuarto juego -->
        <div class="juego">
            <img src="../static/img/sucesos-argentinos-1.jpg" alt="sucesos-argentinos-1" class="juegos-img">
            <div class="informacion">
                <p class="juego-item-detail-name">Sucesos argentinos 1</p>
                <p class="juego-item-detail-precio">$14.000</p>
            </div>
        </div>
        <!-- Quinto juego -->
        <div class="juego">
            <img src="../static/img/dables.jpg" alt="dables" class="juegos-img">
            <div class="informacion">
                <p class="juego-item-detail-name">Dables!</p>
                <p class="juego-item-detail-precio">$7.500</p>
            </div>
        </div>
        <!-- Sexto juego -->
        <div class="juego">
            <img src="../static/img/mente-adivina.jpg" alt="mente-adivina" class="juegos-img">
            <div class="informacion">
                <p class="juego-item-detail-name">Mente adivina 1</p>
                <p class="juego-item-detail-precio">$23.700</p>
            </div>
        </div>
        <!-- Septimo juego -->
        <div class="juego">
            <img src="../static/img/calculo-real.jpg" alt="calculo-real" class="juegos-img">
            <div class="informacion">
                <p class="juego-item-detail-name">Calculo real</p>
                <p class="juego-item-detail-precio">$23.700</p>
            </div>
        </div>
        <!-- Octavo juego -->
        <div class="juego">
            <img src="../static/img/breton.jpg" alt="breton" class="juegos-img">
            <div class="informacion">
                <p class="juego-item-detail-name">Breton</p>
                <p class="juego-item-detail-precio">$8.900</p>
            </div>
        </div>
        <!-- Noveno juego -->
        <div class="juego">
            <img src="../static/img/palabrerio.jpg" alt="palabrerio" class="juegos-img">
            <div class="informacion">
                <p class="juego-item-detail-name">Palabrerio</p>
                <p class="juego-item-detail-precio">$8.900</p>
            </div>
        </div>
        <!-- Decimo juego -->
        <div class="juego">
            <img src="../static/img/flash.jpg" alt="flash" class="juegos-img">
            <div class="informacion">
                <p class="juego-item-detail-name">Mente flash</p>
                <p class="juego-item-detail-precio">$12.900</p>
            </div>
        </div>
        <!-- Undecimo juego -->
        <div class="juego">
            <img src="../static/img/mente-adivina-2.jpg" alt="mente-adivina-2" class="juegos-img">
            <div class="informacion">
                <p class="juego-item-detail-name">Mente adivina 2</p>
                <p class="juego-item-detail-precio">$23.700</p>
            </div>
        </div>
        <!-- Duodecimo juego -->
        <div class="juego">
            <img src="../static/img/dables-inclusivo.jpg" alt="dables-inclusivo" class="juegos-img">
            <div class="informacion">
                <p class="juego-item-detail-name">Dables inclusivo</p>
                <p class="juego-item-detail-precio">$7.500</p>
            </div>
        </div>
    </div>
</body>

<footer>
    <a id="twitter" href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
    <a id="facebook" href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
    <a id="pinterest" href="https://www.pinterest.com" target="_blank"><i class="fa fa-pinterest""></i></a>
    <a id="instagram" href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
    <a id="linkedin" href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
</footer>

</html>